@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import url('https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css');

:root{
  --btn: #3da9fc;
  --add-border: #3da9fc;
  --btntext: #fffffe;
  --text: #094067;
  --paragraph: #5f6c7b;
  --bkg: #fffffe;
  --err: #ef4565;
  --nav-bkg-color: #3da9fc;
  --nav-text-color: #fffffe;
  --side-nav-bkg: #90b4ce;
  --git-icon: #18191A;
  --details-bkg: #fffffe;
  --table-hover-bg:#e9ecef;
  --disabled-btn-color: rgb(84, 84, 84);
  --disabled-btn-bkg: #dddddd;
  --link-color: rgb(85, 26, 139);
}

.dark{
  --text: #fffffe;
  --bkg: #18191A;
  --nav-bkg-color: #242526;
  --side-nav-bkg: #242526;
  --nav-text-color: #CCC;
  --add-border: #094067;
  --git-icon: #fffffe;
  --details-bkg: #094067;
  --table-hover-bg: #3da9fc;
  --disabled-btn-color: rgb(84, 84, 84);
  --link-color: #CCC


}
.disabled{
  color:var(--disabled-btn-color) !important;
}
.dark nav{
  border: 1px solid #393838;
}

*{
  font-family: 'Poppins', sans-serif;
}

.main-component-div{
  background-color: var(--bkg);
  color: var(--text);
  min-height: 100vh;
}

.anchor-link {
  color: var(--link-color);
}
