.header-search {
    display: flex;
    justify-content: flex-end;
}

.export-btn {
    margin-right: 1rem;
}

.ui-paginator, .p-multiselect, .p-multiselect-items-wrapper, .p-multiselect-panel .p-multiselect-header, .p-datatable .p-datatable-tbody > tr {
    background-color: var(--bkg);
    color: var(--text);
}

.p-multiselect-panel .p-multiselect-items .p-multiselect-item.p-highlight{
    background-color: var(--bkg);
    border: 1px solid var(--nav-text-color);
    color: var(--text);
}

.p-button-outlined.p-button-secondary {
    margin-right: 1rem;
}

.table-selector {
    width: 3rem
}
.p-datatable.p-datatable-hoverable-rows .p-datatable-tbody > tr:not(.p-highlight):hover {
    background-color: var(--table-hover-bg);
}

.event-row-ui:hover{
    min-width: 1000px;
    border-left: var(--text) 10px solid;
}

.column-selector{
    width: 20em;
    margin-left: .5em;
}