@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import url('https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css');

:root{
  --btn: #3da9fc;
  --add-border: #3da9fc;
  --btntext: #fffffe;
  --text: #094067;
  --paragraph: #5f6c7b;
  --bkg: #fffffe;
  --err: #ef4565;
  --nav-bkg-color: #3da9fc;
  --nav-text-color: #fffffe;
  --side-nav-bkg: #90b4ce;
  --git-icon: #18191A;

}

.dark{
  --text: #fffffe;
  --bkg: #18191A;
  --nav-bkg-color: #242526;
  --side-nav-bkg: #242526;
  --nav-text-color: #CCC;
  --add-border: #094067;
  --git-icon: #fffffe;

}

.dark nav{
  border: 1px solid #393838;
}

*{
  font-family: 'Poppins', sans-serif;
}
